* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


/*common css*/

body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
	font-size: 1rem;
	color: #000;
	line-height: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
}

:root {
	--base-color: #5db64c;
	--flex: flex;
	--white: white;
}

.text-color-base {
	color: #5db64c;
}

.common-padding {
	padding: 1rem 7rem;
}

.main-container h5 {
	color: var(--base-color);
}

.font-size50 {
	font-size: 50px;
}

button{
  cursor: pointer;
}

.d-block {
	display: block;
}

.custom-btns {
	background: transparent;
	border: none;
	outline: none;
	padding: 8px 27px;
}

.custom-border-right {
	border-right: solid #e0dbdb1f;
	padding: 0 20px;
}

.color-white {
	color: var(--white);
}

.bg-common {
	background: rgb(226 226 226 / 26%);
}


/* //////////// */

.register-btn {
	text-decoration: underline;
}

.login-btn {
	border: solid 1px;
  transition: ease-out 0.7s;
}
.login-btn:hover{
  background: #5db64c;
  color:#fff;
  transition: ease-in 0.7s;;
}

/**/

.main-container .header {
	display: var(--flex);
	justify-content: space-around;
	align-items: center;
	padding: 27px 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}

.main-container .header select {
	border: none;
}

.main-container .header .contacts-wrapper {
	margin-left: 37px;
}

.main-container .header .cities-contact-wrapper {
	display: var(--flex);
}

.main-container .header .logo-wrapper {
	max-width: 150px;
}

.main-container .header .logo-wrapper img {
	max-width: 100%;
}


/*banner section start*/

.main-container .banner-section {
	
	height: 400px;
	width: 100%;
	padding: 4rem 0;
	position: relative;
}

.home-slider-section {
	position: relative;
	background: url("./../image/banner/Banner_1.jpg") no-repeat;
	background-size: cover;
}

.home-slider-section img {
	width: 100%;
	height: calc(100vh - 300px);
}

.slider-form-container {
	padding-bottom: 52px;
	/* position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%; */
}

.ban-form-title {
	padding: 20px 0px;
}

.ban-form-title h6 {
	font-size: 24px;
  color: #504f4f;
	padding: 20px 0px;
}

.ban-form-title h2 {
	font-family: "Poppins", sans-serif;
	font-size: 42px;
	color: #fff;
	padding: 13px 0px;
}

.form-control-wrap {
	display: flex;
	background: #fff;
}

.form-control-wrap .form-control-col {
	border-right: solid 1px #ddd;
	flex: 1 1 auto;
	flex-direction: column;
	justify-content: center;
	padding: 22px 21px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}


.form-control-wrap .form-control-col:last-child {
	border: none
}

.form-control-wrap .form-control-col .input-group-text {
	background-color: transparent;
	border: none;
	color: #d2d0d0;
}

.form-control-wrap .form-control-col.loc-col {
	width: 35%;
}

.search-btn {
	width: 100px;
	position: relative;
}

.search-btn button {
	position: absolute;
	border: none;
	height: 100%;
	top: 0px;
	left: 0px;
	width: 100%;
	background: #242424;
	color: #fff;
}
.search-btn button:hover{
  background: #5db64c;
}

.form-control-wrap .form-control-col select {
	border: none;
	border-bottom: solid 1px;
	margin-top: 4px;
}

.form-control-wrap .form-control-col h5 {
	font-size: 12px;
	font-weight: 600;
	color: var(--base-color);
	text-transform: uppercase;
	padding: 0px 14px;
}
.form-control-wrap .form-control-col.loc-col h5 {
 padding-left: 40px;
}
.form-control-wrap .form-control-col input {
	border: none;
}

.form-control-wrap .form-control-col button {
	border: none
}

.main-container .banner-section h6 {
	font-size: 24px;
	color: #585656;
}

.main-container .banner-section h2 {
	margin: 1rem 0;
}

.main-container .banner-section .card-wrapper {
	background: var(--white);
	width: 44rem;
	display: var(--flex);
	/* justify-content: space-around; */
	align-items: center;
  
}

.main-container .banner-section .card-wrapper select {
	border: none;
	border-bottom: solid 1px;
	margin-top: 4px;
}

.main-container .banner-section .card-wrapper input[type="date"] {
	border: NONE;
	color: var(--base-color);
	font-size: 12px;
}

.main-container .banner-section .card-wrapper .cards {
	padding: 20px;
}

.main-container .banner-section .card-wrapper .cards h5 {
	font-size: 12px;
	font-weight: 600;
}

.main-container .banner-section .card-wrapper input ::placeholder {
	color: red;
}

.main-container .banner-section .location-wrapper.cards {
	padding: 0.4rem;
}

.main-container .banner-section .card-wrapper .search i {
	color: var(--base-color);
	padding: 25%;
	font-size: 40px;
}



.main-container .banner-section .search-icon-wrapper i {
	color: white;
}

.main-container .banner-section .card-wrapper .select {
	width: 23%;
	border: none;
	border-bottom: solid 1px;
}


/*arrow section*/

.main-container .arrow-section {
	background: #c8c8c8ab;
	display: flex;

	justify-content: center;
	align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}

.main-container .arrow-section p {
	transform: rotate(89deg);
	color: var(--base-color);
}

.main-container .arrow-section p i {
	font-size: 26px;
}

.main-container .arrow-section .icon-wrapper {
	max-width: 100px;
	text-align: center;
	margin: 0 auto;
	padding: 5px 0;
}


/* arrow section ends*/


/* olive */

.olive-main-title-section {
	padding: 50px 0px;
}

.olive-main-title {
	display: flex;
	justify-content: center;
	text-align: center;
	flex-direction: column;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}
section.why-olive-sec 
h2 {
  padding: 46px 0;
}
.olive-main-title h2 {
	color: #5db64c;
	font-size: 2.5rem;
	padding-bottom: 17px;
  font-family: "Poppins", sans-serif;
}

.olive-main-title h2 span {
	display: block;
}

.olive-main-title p {
	font-size: 21px;
    margin: 0;
    line-height: 25px;
    color: #4c4b4b;
}

.olive-sub-title {
	font-size: 2rem;
	color: #5db64c;
	padding: 37px 10px;
	font-family: "Poppins", sans-serif;
	text-align: center;
}

.browser-by-loc-sec {
	background: url(../image/browse-by-location/BG.jpg) no-repeat;
	background-size: cover;
  padding: 30px 0px 57px 0px;
}

.browser-by-loc-sec .loc-col {
	margin-bottom: 23px;
}

.browser-by-loc-sec .loc-col .loc-img-wrap {
	position: relative;
	margin: 0;
}

.browser-by-loc-sec .loc-col .loc-img-wrap .fig-bx {
	position: absolute;
	top: 0px;
	width: 100%;
	text-align: center;
	font-size: 0.9rem;
	height: 100%;
	display: flex;
	align-items: stretch;
	justify-content: center;
	color: #fff;
	padding: 10px;
	cursor: pointer;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}

.browser-by-loc-sec .loc-col .loc-img-wrap figcaption {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border: solid 2px transparent;
	flex-direction: column;
	border-radius: 3px;
	transition: ease 0.7s;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}

.browser-by-loc-sec .loc-col .loc-img-wrap figcaption i {
	opacity: 0;
	transition: ease 0.7s;
}

.browser-by-loc-sec .loc-col .loc-img-wrap:hover figcaption {
	border-color: #bcbcbc;
	transition: ease 0.7s;
}

.browser-by-loc-sec .loc-col .loc-img-wrap:hover img {
	opacity: 0.8;
	transition: ease 0.7s;
}

.browser-by-loc-sec .loc-col .loc-img-wrap:hover figcaption i {
	opacity: 1;
	transition: ease 0.7s;
}


/* browse with city css ends*/

.main-container .three-boxes-details-sec {
	background: url(../image/banner/Banner_2.jpg) no-repeat;
  background-size: cover;
	padding: 3rem 0;
}

.main-container .three-boxes-details-sec .boxes>* {
	margin: 10px 0;
}

.main-container .three-boxes-details-sec .boxes {
	text-align: center;
	margin: 15px 0;
}

.main-container .three-boxes-details-sec .boxes i {
	font-size: 50px;
	color: white;
}

.main-container .three-boxes-details-sec .boxes h4 {
	font-weight: 900;
	font-size: 3rem;
	color: white;
}

.main-container .three-boxes-details-sec .boxes p {
	font-size: 23px;
	line-height: 28px;
	color: #0101018f;
}

.let-us-delight-sec h2{
      padding: 52px 0;
}

/* blog */
.blogs-sec h2{
  padding: 50px 0;
}
/* media */

@media (min-width: 768px) {
	.main-container .why-olive-sec .olive-col-2 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 25%;
		flex: 0 0 20%;
		max-width: 20%;
	}
}

.main-container .why-olive-sec .olive-col-2 {
	display: flex;
	align-items: stretch;
	margin-bottom: 25px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}

.main-container .why-olive-sec figure {
	margin: 0;
	transition: ease-out 0.7s;
	cursor: pointer;
	width: 100%;
}

.main-container .why-olive-sec figcaption {
	margin: 20px 10px;
	text-align: center;
	font-weight: 700;
}

.main-container .why-olive-sec .olive-col-2:hover figure {
	transition: ease-in 0.7s;
	box-shadow: 1px 7px 8px #ddd;
	opacity: 0.8;
}


/*let us delight you*/


/*blogs */

.main-container .blogs-sec .blog-cards {
	background: white;
  transition: ease-out 0.4s;
}
.main-container .blogs-sec .blog-cards:hover{
  opacity: 80%;
  transition: ease-in 0.4s;
}

.main-container .blogs-sec .blog-cards figcaption {
  margin: 1rem 0;
  font-size: 22px;
  font-weight: 600;
}

.main-container .blogs-sec .blog-cards .loc-img-wrap 
a {
  color: #5db64c;}
.main-container .blogs-sec.blog-cards a {
	color: var(--base-color);
}

.main-container .blogs-sec .blog-cards .loc-img-wrap
i {
  margin-left: 12px;
}

.main-container .blogs-sec .blog-cards .fig-bx {
	padding-left: 12px;
	padding-top: 21px;
}

.main-container .blogs-sec .img-wrapper {
	max-height: 300px;
}


/* .servised-bg-img{
  background: url(./../image/blogs/Blog_1.jpg) no-repeat;
  max-height: 300px;
} */


/**/

.main-container .what-people-say-sec {
	padding: 2rem 0;
}

.main-container .what-people-say-sec .feedback-wrapper {
	color: white;
	padding: 8rem 3rem 1rem 5rem;
}



.main-container .what-people-say-sec .slider-wrapper .slider-box {
	width: 50%;
	background: #242020;
	position: relative;
}

.main-container .what-people-say-sec .slider-wrapper .slider-box .img-wrapper {
	max-width: 466px;
}

.main-container .what-people-say-sec .slider-wrapper .slider-box img {
	max-width: 100%;
}

.main-container .what-people-say-sec .slider-wrapper h6 {
	padding: 2rem 0;
}

.main-container .what-people-say-sec .slider-wrapper .img-wrapper {
	background: url(./../image/icon/Testimonials_1.jpg) no-repeat;
	background-size: cover;
}

.main-container .what-people-say-sec .slider-wrapper .side-icon {
	background: white;
	height: 42px;
	width: 9%;
	position: absolute;
	top: 50%;
	display: flex;
	justify-content: center;
	padding: 9px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}

.main-container .what-people-say-sec .slider-wrapper .left-arrow {
	left: -1px;
}

.main-container .what-people-say-sec .slider-wrapper .right-arrow {
	right: -1px;
}

.let-us-delight-sec,
.testmonial-sec {
	background: #f6f4f5;
}

.del-content-sec .del-content-card {
	position: absolute;
	border: solid 1px #f9f8f8;
	padding: 10px 30px;
	width: 100%;
	left: -20%;
	background: #ffffff;
	flex-grow: 1;
	height: calc(100% - 120px);
	top: calc(120px / 2);
	display: flex;
	
	flex-direction: column;
	justify-content: center;
	box-shadow: 0px 1px 7px #00000059;
	z-index: 99;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}

.del-content-sec .del-content-card h5 {
	color: #000;
	font-size: 1rem;
	font-weight: 600;
	padding: 12px 10px;
	text-transform: uppercase;
}

.del-content-sec .del-content-card ul {
	list-style-type: disclosure-closed;
	font-size: 14px;
	margin-left: 27px;
}

.del-content-sec .del-content-card ul li{
  color: #565656;
}

.left-img-sec {
	margin-top: calc(-120px / 2);
	position: relative;
	z-index: 99;
}

.left-img-sec .del-content-card {
	left: auto;
	right: -20%;
	top: auto;
	bottom: 0;
}

.testmonial-sec {
	padding-bottom: 100px;
}
.testmonial-sec h2{
padding: 50px 0;
}
.content-slider-wrapper .slider-inner-sec {
	display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}

.content-slider-wrapper .slider-inner-sec .slide-content-sec {
	width: 40%;
}

.content-slider-wrapper .slider-inner-sec .slide-img {
	width: 60%;
}

.content-slider-wrapper .slider-inner-sec .slide-img img {
	width: 100%;
	height: calc(100vh - 150px);
}

.slide-content-sec {
	background: #242020;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}

.client-feedback-wrapper {
	padding: 10px 52px;
}

.client-feedback-wrapper p {
	margin: 0;
	font-size: 14px;
	line-height: 22px;
}

.client-feedback-wrapper h4 {
	font-size: 20px;
	padding: 9px 0px;
}

.client-feedback-wrapper h4 span {
	display: block;
	font-size: 80%;
	font-weight: normal;
	color: #dedddd;
}

.content-slider-wrapper .carousel-control-prev-icon {
	background: url(../image/icon/Arrow_Left.png) no-repeat #fff;
}

.content-slider-wrapper .carousel-control-next-icon {
	background: url(../image/icon/Arrow_Right.png) no-repeat #fff;
}

.content-slider-wrapper .carousel-control-next-icon,
.content-slider-wrapper .carousel-control-prev-icon {
	height: 34px;
	width: 34px;
	background-position: 8px 8px;
}

.content-slider-wrapper .carousel-control-next-icon {
	background-position: 12px 8px;
}

.content-slider-wrapper .carousel-control-next,
.content-slider-wrapper .carousel-control-prev {
	background: transparent;
	border: none;
	color: red;
	opacity: 1;
	width: 34px;
}

.rating-fd {
	padding: 22px 0px;
}


/***
footer
***/

.footer-wrapper {
	background: url(../image/Cityscape_Footer.png) no-repeat #242020;
	background-position: bottom left;
	padding-bottom: 150px;
	padding-top: 51px;
  text-transform: uppercase;
}
.socail-wrap ul{
 padding: 0px;
 margin: 0;
 list-style-type: none;
 display: flex;
 justify-content: space-around;
 margin-top: 30px;
 display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}
.socail-wrap ul li {
  padding-right: 10px;
}
.socail-wrap ul li a{
  color: #5db64c;
  font-size: 30px;
}

.socail-wrap ul li a:hover{
  opacity: 0.7;
}
.common-wrap-foot h3 {
	font-size: 15px;

	text-align: left;
	padding: 11px 5px;
}

.common-wrap-foot .list-group .list-group-item {
	padding: 7px 4px;
	border: none;
	font-size: 14px;
	color: #fff;
	background-color: transparent;
}

.common-wrap-foot .list-group .list-group-item a {
	text-decoration: none;
	color: #fff;
  padding: 3px 3px;
}

.common-wrap-foot .list-group .list-group-item a:hover{
  background: #5db64c;
  color: #fff;
}


/**
  Media 

***/

@media (max-width: 1024px) {
	.common-padding {
		padding: 1rem 2rem;
	}
	.main-container .banner-section .card-wrapper .cards {
		padding: 9px 22px;
	}
	.content-slider-wrapper .slider-inner-sec .slide-img img {
		height: auto
	}
	.content-slider-wrapper .slider-inner-sec {
		flex-wrap: wrap;
		position: relative;
	}
	.content-slider-wrapper .slider-inner-sec .slide-content-sec {
		width: 80%;
		position: absolute;
		top: 0px;
		background: #2420209c;
		/* margin: 0px; */
		left: 0;
		right: 0px;
		margin: auto;
	}
	.content-slider-wrapper .slider-inner-sec .slide-img {
		width: 100%;
		max-height: calc(100vh - 150px);
	}
	
}

@media (max-width: 768px) {
  .main-container .header {
    justify-content: space-between;
    
  }
  .main-container .header .cities-contact-wrapper{
    order: 2;
  }
  .main-container .header .logo-wrapper{
    order: 1;
    width: 90px;
  }
  .custom-btns {
    padding: 2px 9px;
    font-size: 13px;
}
.cities-options-wrapper{
  font-size: 13px;
}

.olive-main-title h2 {
  font-size: 1.5rem;
}
.olive-main-title p {
  font-size: 15px;
}
.olive-sub-title {
  font-size: 1.5rem;
}
.main-container .blogs-sec .blog-cards .fig-bx {
  text-align: center;
}
.main-container .header .contacts-wrapper {
  margin-left: 0;
  padding: 0px 7px;
  font-size: 12px;
}
  .main-container .header .form-wrapper{
    order: 3;
  }
	.common-padding {
		padding: 1rem 2rem;
	}
	.del-content-sec .del-content-card {
		position: relative;
		left: 0;
		height: auto;
		top: 0;
		padding: 10px 20px;
		box-shadow: none;
		border: none
	}
	.left-img-sec {
		margin-top: 0;
	}
	.let-us-del-section {
		margin-bottom: 20px;
		box-shadow: 0px 1px 7px #00000059;
		background: #fff;
		border: solid 1px #f9f8f8;
	}
	.del-content-sec .del-content-card ul {
		font-size: 13px;
		margin-left: 7px;
	}
	.form-control-wrap {
		display: block;
		background: no-repeat;
	}
	.form-control-wrap .form-control-col {
		width: 100% !important;
		margin-bottom: 8px;
		background: #fff;
		padding: 9px 21px;
	}
  .form-control-wrap .form-control-col.loc-col .input-group-prepend{
    order: 2;
  }
  .form-control-wrap .form-control-col.loc-col h5{
    padding: 0px 14px;
  }
	.form-control-wrap .form-control-col button {
		border: none;
		height: 45px;
	}
	.ban-form-title h6 {
		font-size: 18px;
		padding: 0px 0px;
	}
	.ban-form-title h2 {
		font-size: 26px;
		padding: 3px 0px;
	}
	.ban-form-title h2 .d-block {
		display: inline-block !important;
	}
	.home-slider-section img {
		height: auto;
	}
	.ban-form-title {
		padding: 20px 0px;
	}

  .socail-wrap ul{
    justify-content: start;
    margin-bottom: 20px;

  }
  .footer-wrapper {
    padding-bottom: 36px;
  }
}

@media (max-width: 576px) {
	.left-img-sec .row {
		flex-direction: column-reverse;
	}
  .loc-col{
    width:100%
  }
}

@media (max-width: 480px) {
  .custom-btns {
    padding: 2px 5px;
    font-size: 11px;
}
.main-container .header .contacts-wrapper {
  padding: 0px 4px;
  font-size: 11px;
}
.main-container .header .logo-wrapper {
  width: 75px;
}
.cities-options-wrapper{
  font-size: 12px;
}
}